<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Color Pallettes Generator</title>
    <link rel="stylesheet" href="app.css">
  </head>
  <body>
    <div id="container">
      <!-- 여기에 색상이 추가됩니다. -->
    </div>
    <form id="form">
      <input
        type="text"
        name="query"
        placeholder="Explain color that you want to generate"
      />
      <button>Generate</button>
    </form>
    <script src="app.js"></script>
  </body>
</html>
