* { margin: 0; padding: 0; box-sizing: border-box; } 
html, body { width: 100%; height: 100%; background:#82b1ff; } 
a { text-decoration: none; color: inherit; } 
body { overflow-x: hidden; overflow-y: scroll; } 

.hidden { display: none; } 
.tabview { display: none; } 
.tabview:target { display: block} 

#wrap { max-width: 1000px; width: 100%; height: 100%; background: #fff; margin: 0 auto; display: flex; flex-flow: row wrap; } 
#modal { position: fixed; top: 0; left: 0; z-index: -10; width: 100%; height: 100vh; background-color: rgba(0, 0, 0, 0.5); display: flex; justify-content: center; align-items: center; } 
#modal.on { z-index: 10; } 
#modal > .content { height: 80vh; min-width: 50%; padding: 20px; box-sizing: border-box; background-color: #fff; box-shadow: 0 1px 15px rgba(0, 0, 0, 0.5); opacity: 0; transform: translateY(20%); } 
#modal > .content.on { transform: translateY(0); opacity: 1; transition: all .3s; } 

section:first-child { width: 1000px; margin: 0 auto; display: flex; height: 50px; line-height: 50px; } 
a.tab { flex: 1 0 500px; text-align: center; display: block; cursor: pointer; background: #d2e3ff; } 
a.tab.on { background:#4d82cb; } 
#wrap button { width: 50%; height: 80px; margin: 0 auto; border-radius: 40px; } 
#wrap  span { display: inline-block; text-align: center; font-size: 30px; padding: 10px 0; flex: 1 0 500px; } 