body {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  gap: 10px;
}
a {
  text-decoration: none;
  color: #222;
  border: 1px solid;
  border-radius: 15px;
  padding: 5px 10px;
  transition: 0.5s;
}
a:hover {
  background-color: #222;
  color: #fff;
}
