<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
</head>
<body>
  <h1>Login</h1>
  <form method="post">
    <input type="text" placeholder="Id" name="username">
    <input type="password" placeholder="Password" name="password">
    <button>Submit</button>
    <a href="/auth/signup">Signup</a>
  </form>
  <script>
    // const form = document.querySelector('form');
    // form.addEventListener('submit', (e) => {
    //   e.preventDefault();
    // });
  </script>
</body>
</html>
